name: control_pad
description: A control pad that allows you to control anything with a joystick.
version: 0.0.1
author: Artur Rymarz <artur.rymarz@gmail.com>
homepage: https://github.com/artrmz/flutter_control_pad

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
